body{
    font-family:Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    background-color: bisque;
}

header{
    display: flex;
    justify-content: space-between;
    height: 55px;
    background-color: rgb(207, 210, 30);
    align-items: center;
    padding: 15px;
    min-height: 70px;
}

.logo{
    display: flex;
    align-items: center;
}

.logo img{
    height: 50px;
    margin-right: 10px;
}


a{
    text-decoration: none;
    color: black;
}

a:hover{
    color: red;
}

nav a{
    font-weight: 600;
    padding-right: 10px;
}

nav a:hover{
    color: red;
}

@media (max-width:700px){
    header{
        flex-direction: column;
    }

    nav{
        padding: 10px 0px;
    }
}

h1{
    text-align: center;
    color: brown;
    font-family: 'Courier New', Courier, monospace;
    text-decoration-line: underline;
    text-decoration-color: black;
    font-size: xx-large;
}

p{
    text-align: center;
    color: red;
    font-family:monospace;
    text-decoration-line: line-through;
    text-decoration-color: white;
}